<%- include("partials/header.ejs")%>

<section id="about">
    <div class="container px-0">
        <div class="mt-5 p-5 text-center rounded-3 divBackground divFlex" style="background-color: #FFDBB5; border-radius: 10px; ">
          <h2 class="mb-3 headingTitle" style="text-align: left;">About TheRAVAGE's Diary</h2>
          <p class="lead paragraph" style="text-align: left;">Welcome to <span style="color: #603F26;"><em><b>TheRAVAGE's Diary</b></em></span>, a space where raw thoughts and deep reflections come together. Curated by Akhil M Mathew, this blog offers a fresh perspective on life’s complexities and the extraordinary within the ordinary.</p>
          <h4 class="mt-4 mb-2 headingTitle" style="text-align: left;">What You’ll Find</h4>
          <p class="lead paragraph" style="text-align: left;"><span style="color: #603F26;"><em><b>TheRAVAGE's Diary</b></em></span> explores a range of topics through personal musings, insightful commentary, and captivating stories. Each post aims to challenge conventional thinking, spark meaningful conversation, and offer a deeper understanding of the human experience.</p>
          <h4 class="mt-4 mb-2 headingTitle" style="text-align: left;">Our Mission</h4>
          <p class="lead paragraph" style="text-align: left;">This blog is dedicated to connecting with readers who are eager to delve into introspection and engage with thoughtful content. It’s a place for exploring life’s nuances, celebrating the remarkable moments, and finding inspiration in everyday encounters.</p>
          <h4 class="mt-4 mb-2 headingTitle" style="text-align: left;">Join the Journey</h4>
          <p class="lead paragraph" style="text-align: left;">Dive in, explore, and be part of the dialogue. <span style="color: #603F26;"><em><b>TheRAVAGE's Diary</b></em></span> invites you to reflect, connect, and discover what resonates.</p>
          <p class="lead paragraph" style="text-align: left;">Thank you for stopping by and becoming a part of this exploration.</p>
    
        </div>
      </div>
</section>

<%- include("partials/footer.ejs")%>